[mode]
connection_mode = 3
auto_replace = y

[Payload]
payload = GET / HTTP/1.1[crlf]Host: [host][crlf]Connection: Upgrade[crlf]Upgrade: websocket[crlf][crlf]
proxyip = proxy.example.com
proxyport = 443

[ssh]
host = vps.example.com
port = 443
username = your_username
password = your_password
enable_compression = n
auth_methode = password

[sni]
server_name = vps.example.com

[engine]
engine_mode = singbox

