[Desktop Entry]
Name=OmniTunnel CLI
Comment=VPN client based on SSH tunnels and V2Ray/Xray protocols
Exec=/usr/local/bin/otunnel
Icon=omnitunnel-cli
Terminal=true
Type=Application
Categories=Network;Security;Utility;
Keywords=vpn;ssh;tunnel;v2ray;xray;proxy;
StartupNotify=false
